@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --bg: #0f0f0f;
    --main: #ff6f1d;
    --text: #d9d9d9;
}

.header {
    border-right: none!important;
    border-left: none!important;
}

body {
    background: var(--bg);
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

@media only screen and (min-height: 880px){
    body {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

@media only screen and (max-height: 880px){
    body {
        overflow: unset;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.container {
    width: 1000px;
    min-height: 1414px;
    height: 115vh;
    margin: auto;
    border-right: 8px solid var(--main);
    border-left: 8px solid var(--main);
}

@media only screen and (max-height: 880px) {
    .container {
        overflow: hidden;
        max-height: 1244px;
        min-height: 1244px;
    }
}

.text {
    display: flex;
    justify-content: space-between;
    width: 890px;
    height: 668px;
    max-width: 1000px;
    margin: -170px auto 0;
}

.lefttext {
    min-width: 629px;
    max-width: 629px;
    z-index: 1;
}

.lefttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.righttext {
    position: relative;
    min-width: 629px;
    max-width: 629px;
    margin: 250px 0 0 -370px;
    z-index: 1;
}

.righttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

.lab {
    display: flex;
    justify-content: center;
}

@media only screen and (max-height: 880px){
    .lab {
        margin: -120px 0 0 0;
        position: absolute;
        width: 1015px;
        height: 400px;
        overflow: hidden;
        padding: 200px 0 0 0;
    }
}

@media only screen and (min-height: 1280px){
    .lab {
        margin: 9vh 0 0 0;
    }
}

@media only screen and (min-height: 1500px){
    .lab {
        margin: 20vh 0 0 0;
    }
}

@media only screen and (min-height: 1700px){
    .lab {
        margin: 28vh 0 0 0;
    }
}

@media only screen and (min-height: 2000px){
    .lab {
        margin: 32vh 0 0 0;
    }
}

@media only screen and (min-height: 2000px){
    .lab {
        margin: 40vh 0 0 0;
    }
}

.lab1 {
    position: absolute;
}

.lab1 {
    position: absolute;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.lab2 {
    position: absolute;
}

@media only screen and (max-height: 880px){
    .lab1 {
        padding: 0 0 0 0;
    }
}

@media only screen and (max-height: 880px){
    .lab2 {
        padding: 0 0 0 0;
    }
}

.scope {
    position: absolute;
    transform-origin: bottom;
    animation-duration: 4s;
    animation-name: scope1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin: -245px 0 0 0;
}

@media only screen and (max-height: 880px){
    .scope {
        margin: -245px 0 0 0;
    }
}

@keyframes scope1 {
    0% {
        transform: rotate(10deg) translate(25px,50px);
    }

    100% {
        transform: rotate(60deg) translate(220px,0px);
        
    }
}

@keyframes scope2 {
    0% {
        transform: rotate(10deg) translate(25px,50px);
    }

    100% {
        transform: rotate(60deg) translate(300px,-80px);
        
    }
}

.stars {
    position: absolute;
    margin: -100px 0 0 450px;
}

.star1 {
    position: absolute;
    margin: -125px 0 0 300px;
    animation-duration: 4s;
    animation-name: flash;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.star2 {
    position: absolute;
    margin: 50px 0 0 -355px;
    animation-duration: 4s;
    animation-name: flash;
    animation-delay: 1100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.star3 {
    position: absolute;
    margin: -250px 0 0 -270px;
    animation-duration: 4s;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.star4 {
    position: absolute;
    margin: 0 0 0 425px;
    animation-duration: 4s;
    animation-name: flash;
    animation-delay: 2100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.star5 {
    position: absolute;
    margin: -100px 0 0 -75px;
    animation-duration: 4s;
    animation-name: flash;
    animation-delay: 3100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

@keyframes flash {
    0% {
        transform: translate(0px,0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0px,-20px);
        opacity: 0;
    }
}