@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --bg: #0f0f0f;
    --main: #ff6f1d;
    --text: #d9d9d9;
}

body {
    background: var(--bg);
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

@media only screen and (min-height: 880px){
    body {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

@media only screen and (max-height: 880px){
    body {
        overflow: unset;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.container {
    width: 1000px;
    min-height: 1414px;
    height: 115vh;
    margin: auto;
    border-right: 8px solid var(--main);
    border-left: 8px solid var(--main);
}

@media only screen and (max-height: 880px){
    .container {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.text {
    display: flex;
    justify-content: space-between;
    width: 890px;
    height: 668px;
    max-width: 1000px;
    margin: -170px auto 0;
}

.lefttext {
    min-width: 629px;
    max-width: 629px;
    z-index: 1;
}

.lefttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.righttext {
    position: relative;
    min-width: 629px;
    max-width: 629px;
    margin: 250px 0 0 -370px;
    z-index: 1;
}

.righttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

.lab {
    display: flex;
    justify-content: center;
    margin: -840px 0 0 0;
}

@media only screen and (max-height: 1200px) {
    .lab {
        margin: -800px 0 0 0;
    }    
}

@media only screen and (max-height: 880px){
    .lab {
        margin: -640px 0 0 0;
    }
}

.lab1 {
    position: relative;
    top: calc(100vh - 350px);
    margin: 0 -740px 0 0;
}

.lab2 {
    position: relative;
    top: calc(100vh - 350px);
}

@media only screen and (max-height: 880px){
    .lab1 {
        top: calc(100vh - 200px);
        padding: 0 0 0 0;
    }
}

@media only screen and (max-height: 880px){
    .lab2 {
        top: calc(100vh - 200px);
        padding: 0 0 0 0;
    }
}

.scope {
    position: absolute;
    top: calc(100vh - 585px);
    transform-origin: bottom;
    animation-duration: 4s;
    animation-name: scope1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin: -100px 0 0 0;
}

@media only screen and (max-height: 1200px){
    .scope {
        margin: -50px 0 0 0;
        animation-name: scope2;
        object-fit: cover;
        object-position: top;
        width: 180px;
        height: 230px;
    }
}

@media only screen and (max-height: 880px){
    .scope {
        top: calc(100vh - 440px);
        margin: 120px 0 0 0;
    }
}

@keyframes scope1 {
    0% {
        transform: rotate(10deg) translate(25px,50px);
    }

    100% {
        transform: rotate(60deg) translate(220px,0px);
        
    }
}

@keyframes scope2 {
    0% {
        transform: rotate(10deg) translate(25px,50px);
    }

    100% {
        transform: rotate(60deg) translate(300px,-80px);
        
    }
}