@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --bg: #0f0f0f;
    --main: #ff6f1d;
    --text: #d9d9d9;
}

body {
    background: var(--bg);
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

@media only screen and (min-height: 880px){
    body {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

@media only screen and (max-height: 880px){
    body {
        overflow-x: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.container {
    width: 1000px;
    min-height: 1080px;
    height: 100vh;
    margin: auto;
    border-right: 8px solid var(--main);
    border-left: 8px solid var(--main);
}

@media only screen and (max-height: 880px){
    .container {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.ufobeam {
    height: 740px;
    margin: 0 0 0 -565px;
    padding: 230px 0 0;
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    from {
        transform: translate(0px,10px);
    }

    to {
        transform: translate(0px,-10px);
    }
}

.ufo {
    position: absolute;
}

.beam1 {
    position: absolute;
    margin: 240px 0 0 200px;
    animation-duration: 1s;
    animation-name: beam1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    filter: blur(4px)
}

@keyframes beam1 {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(0px,-20px);
    }
}


.beam2 {
    position: absolute;
    width: 240px;
    margin: 340px 0 0 180px;
    animation-duration: 1s;
    animation-name: beam1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 200ms;
    filter: blur(5px)
}

.beam3 {
    position: absolute;
    width: 280px;
    margin: 440px 0 0 160px;
    animation-duration: 1s;
    animation-name: beam1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 400ms;
    filter: blur(6px)
}

.text {
    display: flex;
    justify-content: space-between;
    width: 890px;
    height: 668px;
    max-width: 1000px;
    margin: -170px auto 0;
}

.lefttext {
    min-width: 629px;
    max-width: 629px;
    z-index: 1;
}

.lefttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.righttext {
    position: relative;
    min-width: 629px;
    max-width: 629px;
    margin: 500px 0 0;
    z-index: 1;
}

.righttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

.bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    margin: -240px 0 0 0;
    max-width: 100vw;
}

@media only screen and (max-height: 880px){
    .bottom {
        margin: -200px 0 0 0;
        align-items: flex-start;
        position: absolute;
        overflow: hidden;
        min-width: 100vw;
        max-width: 1016px;
        max-height: 200px;
    }
}

.lowerplanet {
    width: 300vw;
    height: 230vw;
    animation-duration: 2s;
    animation-name: bounce2;
    animation-delay: 650ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    filter: blur(80px);
}

.lowerplanet2 {
    margin: -250px 0;
    width: 300vw;
    height: 230vw;
    position: absolute;
    animation-duration: 14s;
    animation-name: bounce3;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.lowerplanet3 {
    margin: -250px 0;
    width: 300vw;
    height: 230vw;
    position: absolute;
    animation-duration: 11s;
    animation-name: bounce3;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1600px){
    .lowerplanet2 {
        display: none;
    }
}

@media only screen and (max-width: 1600px){
    .lowerplanet3 {
        display: none;
    }
}

@media only screen and (max-height: 880px){
    .lowerplanet2 {
        display: none;
    }
}

@media only screen and (max-height: 880px){
    .lowerplanet3 {
        display: none;
    }
}

@media only screen and (max-height: 880px){
    .lowerplanet {
        margin: 20px;
        height: 230vw;
        filter: blur(0px);
    }
}

.lowerplanet1 {
    width: 300vw;
    height: 230vw;
    position: absolute;
    animation-duration: 2s;
    animation-name: bounce2;
    animation-delay: 650ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-height: 880px){
    .lowerplanet1 {
        margin: 20px;
        height: 230vw;
    }
}

@keyframes bounce2 {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(0px,-20px);
    }
}

@keyframes bounce3 {
    0% {
        transform: rotate(0deg) translate(0px,0px);
    }

    10% {
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.7;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg) translate(0px,-20px);
    }
}