.header {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 106px;
    height: 48px;
    margin: 30px 0 0 55px;
}

.logo img {
    width: 106px;
    height: 48px;
    position: absolute;
    flex-shrink: 0;
}

.nav {
    width: 310px;
    height: 266px;
    margin: -16px 8px 0 0;
}

.base {
    position: absolute;
}

.basebg {
    position: absolute;
    margin: 65px 0 0 86px;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    10% {
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.7;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
    }
}

.planet1 {
    position: absolute;
    margin: 62px 0 0 221px;
}

.planet2 {
    position: absolute;
    margin: 144px 0 0 52px;
}

.planet3 {
    position: absolute;
    margin: 55px 0 0 87px;
}

.planets a p {
    position: absolute;
    transform: rotate(-30deg);
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 100ms;
    text-decoration: none;
    opacity: 0;
}

.planets a:hover p {
    opacity: 1;
}

.home {
    margin: 125px 0 0 32px;
}

.projects {
    margin: 35px 0 0 45px;
}

.contact {
    margin: 42px 0 0 178px;
}