@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --bg: #0f0f0f;
    --main: #ff6f1d;
    --text: #d9d9d9;
}

.header {
    border-right: none;
    border-left: none;
}

body {
    background: var(--bg);
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

@media only screen and (min-height: 880px){
    body {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

@media only screen and (max-height: 880px){
    body {
        overflow: unset;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.container {
    width: 1000px;
    min-height: 1414px;
    height: 100vh;
    margin: auto;
    border-right: 8px solid var(--main);
    border-left: 8px solid var(--main);
}

@media only screen and (max-height: 880px){
    .container {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.rocketfire {
    width: 540px;
    height: 740px;
    margin: 0 0 0 -30px;
    padding: 80px 0 0;
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    from {
        transform: translate(10px,10px);
    }

    to {
        transform: translate(0px,-10px);
    }
}

.rocket {
    position: absolute;
}

.fire {
    position: absolute;
    margin: 366px 0 0 212px;
    animation-duration: 4s;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 0px #FF6F1D00);
        transform: translate(-2px,-2px);
    }
  
    10% {
        filter: drop-shadow(0px 0px 50px #FF6F1D70);
    }

    20% {
        filter: drop-shadow(0px 0px 50px #FF6F1D10)
        blur(2px);
        transform: scale(0.98,0.98);
    }

    30% {
        filter: drop-shadow(0px 0px 50px #FF6F1D50)
        blur(2px);
    }

    40% {
        filter: drop-shadow(0px 0px 50px #FF6F1D90);
    }

    50% {
        filter: drop-shadow(0px 0px 50px #FF6F1D30);
        transform: translate(0px,3px);
    }

    60% {
        filter: drop-shadow(0px 0px 50px #FF6F1D00);
    }

    70% {
        filter: drop-shadow(0px 0px 50px #FF6F1D40)
        blur(2px);
    }

    80% {
        filter: drop-shadow(0px 0px 50px #FF6F1D20)
        blur(2px);
        transform: scale(0.98,0.98);
    }

    90% {
        filter: drop-shadow(0px 0px 50px #FF6F1D60);
    }

    100% {
        filter: drop-shadow(0px 0px 50px #FF6F1D70);
    }
}

.text {
    display: flex;
    justify-content: space-between;
    width: 890px;
    max-width: 1000px;
    margin: -170px auto 0;
}

.lefttext {
    min-width: 212px;
    max-width: 212px;
    z-index: 1;
}

.lefttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.righttext {
    min-width: 212px;
    max-width: 212px;
    padding: 140px 0 0;
    z-index: 1;
}

.righttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

.bottom {
    position: absolute;
    margin: 570px 0 0 -500px;
    animation-duration: 2s;
    animation-name: bounce2;
    animation-delay: 650ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce2 {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(10px,-15px);
        height: 445px;
    }
}

@media only screen and (max-height: 880px){
    .bottom {
        height: 430px;
        overflow: hidden;
    }
}

.planet {
    width: 760px;
    height: 760px;
}