@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

:root {
    --bg: #0f0f0f;
    --main: #ff6f1d;
    --text: #d9d9d9;
}

body {
    background: var(--bg);
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

@media only screen and (min-height: 880px){
    body {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}

@media only screen and (max-height: 880px){
    body {
        overflow: unset;
        max-height: 1080px;
        min-height: 1080px;
    }
}

.container {
    width: 1000px;
    min-height: 1414px;
    height: 100vh;
    margin: auto;
    border-right: 8px solid var(--main);
    border-left: 8px solid var(--main);
}

@media only screen and (max-height: 880px){
    .container {
        overflow: hidden;
        max-height: 1080px;
        min-height: 1080px;
    }
}


.text {
    display: flex;
    justify-content: space-between;
    width: 890px;
    height: 668px;
    max-width: 1000px;
    margin: -170px auto 0;
}

.lefttext {
    min-width: 629px;
    max-width: 629px;
    z-index: 1;
}

.lefttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.righttext {
    position: relative;
    min-width: 629px;
    max-width: 629px;
    margin: 650px 0 0 -370px;
    z-index: 1;
}

.righttext p {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

.planetring {
    position: absolute;
    margin: 70px 0 0 0;
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    from {
        transform: translate(0px,0px);
    }

    to {
        transform: translate(0px,-20px);
    }
}

.ring1 {
    position: absolute;
    margin: 220px 0 0 52px;
    mix-blend-mode: screen;
}

.ring2 {
    position: absolute;
    margin: 243px 0 0 52px;
    mix-blend-mode: screen;
}

.planet {
    position: absolute;
    margin: 100px 0 0 190px;
    animation-duration: 2s;
    animation-name: bounce1;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce1 {
    0% {
        transform: translate(0px,0px);
    }

    100% {
        transform: translate(0px,20px);
    }
}

.lang {
    position: absolute;
    width: 550px;
    height: 450px;
    margin: 110px 0 0 160px;
    animation-duration: 10s;
    animation-name: lang;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

.lang1 {
    position: absolute;
    animation-duration: 10s;
    animation-name: lang2;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    left: -10px;
    top: 0px;
}

.lang2 {
    position: absolute;
    animation-duration: 10s;
    animation-name: lang2;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    right: 100px;
    bottom: 475px;
}

.lang3 {
    position: absolute;
    animation-duration: 10s;
    animation-name: lang2;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    right: 300px;
    bottom: 490px;
}

@keyframes lang{
    0% {
        transform:rotate(-15deg) scaleY(.2) rotate(0deg);
    }

    60% {
        z-index: 1;
    }

    100% {
        transform:rotate(-15deg) scaleY(.2) rotate(360deg);
    }
}

@keyframes lang2{
    0% {
        transform:rotate(0deg) scaleY(5) rotate(15deg) scale(0.5);
    }

    100% {
        transform:rotate(-360deg) scaleY(5) rotate(15deg) scale(0.5);
    }
}